.product-image {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  transition: transform 0.3s ease;
}

.card:hover .product-image {
  transform: scale(1.05);
}
